@import "tailwindcss";




/* מבטל את המראה הדיפולטי */
.range-input {
  -webkit-appearance: none;
  appearance: none;
  height: 0;
  outline: none;
}

/* עיצוב העיגול (Thumb) עבור Chrome/Safari */
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: auto; /* מחזיר את הלחיצה רק לעיגול */
  width: 6px;
  height: 12px;
  border-radius: 0%;
  background: #000;
  border: 2px solid #000; /* indigo-600 */
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* עיצוב העיגול (Thumb) עבור Firefox */
.range-input::-moz-range-thumb {
  pointer-events: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #000;
  cursor: pointer;
}